# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
db.sqlite3
sqlite_export.json
media/
staticfiles/
*.log

# Environment
.env

# IDE
.idea/
.vscode/
*.swp

# OS
Thumbs.db
.DS_Store
