# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
db.sqlite3
sqlite_export.json
media/
staticfiles/
test_media/
*.log

# Tests & coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/

# Environment
.env

# IDE
.idea/
.vscode/
*.swp

# OS
Thumbs.db
.DS_Store
